<section class="content d-flex flex-column vh-100">
  <div class="content-wrapper d-flex flex-grow-1 align-items-center justify-content-center">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Recuperación de contraseña enviado por Mail</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-primary">Correo enviado!!</h2>
      </div>
    </section>
    <!-- /.content -->
  </div>
</section>

 
